<!DOCTYPE html>
<html >
<head>
  <link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>
  <ul id="nav">
  <li class="home"><a href="#">Home</a></li>
  <li class="tutorials"><a href="#">Tutorials</a></li>
  <li class="about"><a href="#">Coding</a></li>
  <li class="news"><a href="#">WordPress</a></li>
  <li class="contact"><a href="#">Contact</a></li>
</ul>
 
<table class="egt">

  <tr>

    <td><img width="400" height="300" src="https://1.bp.blogspot.com/-e2NYikXgjD8/VtiGiJpUZbI/AAAAAAAAAZ0/RwswRIipMFo/s1600/Biologia.jpg" align="right"></td>

    <td color:red;>La biología molecular es la que tiene como objetivo el estudio de los procesos que se desarrollan en los seres vivos desde un punto de vista molecular.En su sentido moderno, la biología molecular pretende explicar los fenómenos de la vida a partir de sus propiedades macromoleculares. Dos macromoléculas en particular son su objeto de estudio:

Los ácidos nucleicos, entre los cuales el más utilizado es el ácido desoxirribonucleico (ADN), el componente de genes.
Las proteínas, que son los agentes activos de los organismos vivos./td>

    

  </tr>

  <tr>

    <td>Celda 4</td>

    <td>Celda 5</td>

  

  </tr>

</table>
</body>
</html>